
/*start varibles*/
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/*start varibles*/
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

    .landing{
    min-height: 100vh;
    background-color: black;
/*    background-image: url("../images/back1.png");*/
    background-size: cover;
    position: relative;
    }
        .landing h1 {
            color: white;
            margin-left: calc(50% - 75px);
            margin-right: calc(50% - 75px);
            padding-top: 20%;
            font-size: 150px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .landing  .one{
           width: 1000px;
            height: 1000px;
            margin-left: calc(50% - 500px);
            margin-right: calc(50% - 500px);
        }
/* Large */
@media (min-width: 1200px) {
    .landing .one {
        width: 800px;
        height: 750px;
        margin-left: calc(50% - 400px);
        margin-right: calc(50% - 400px);
    }
}

    .container .content audio{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
/* End Global Rules */
